.ocupa-toda-pagina {
    height: 100vh;
}

#foto-barbeiro {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icons {
    width: 25px;
}

.but {
    text-align: center;
}

#conteiner {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../imgs/corte\ cabelo.webp);
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    padding-top: 100px;
}


#conteiner1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../imgs/barbearia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#conteiner2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(46, 46, 46, 0.8)), url('../imgs/cadeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

h1 {
    color: white;
    font-size: 3em;
}

p {
    color: white;
    font-size: 1.5em;
    margin-left: 10px;
}

button {
    background: transparent;
    color: white;
    border-radius: 25px;
    border: bl;
    align-items: center;
    border-color: white;
    font-size: 30px;
    font-weight: 900;
    margin-top: 50px;

}


footer {
    display: flex;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    
}